server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: service-provider
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.142.128:8848
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  redis:
    host: 192.168.142.128
    port: 6379
    database: 0
