server:
  port: 8082
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: service-consumer
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.142.128:8848
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
